<div style="height: 35px;
display: flex;
background-color: #6633991f;">
   <div class="split right">
     <div class="centered">


       <form class="example-form" style="margin-left: 3rem;">

         <div *ngIf="taskList['length']>0">
           <h2>Task Details</h2>
           <div class="table-wrapper">
             <table class="fl-table">
               <thead>
                 <tr>
                   <th>Member Id</th>
                   <th>Member Name</th>                   
                   <th>AllocationPercentage</th>
                   <th>Project Start Date</th>
                   <th>Project End Date</th>
                   <th>Task Name</th>
                   <th>Task Start Date </th>
                   <th>Task End Date</th>
                   <th *ngIf="isAccessRole">Action</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let item of taskList ">
                   <td>{{item.memberId}}</td>
                   <td>{{item.memberName}}</td>
                   <td>{{item.allocationPercentage}}</td>
                   <td>{{item.projectstartDate}}</td>
                   <td>{{item.projectendDate}}</td>
                   <td>{{item.taskName}}</td>
                   <td>{{item.taskstartDate}}</td>
                   <td>{{item.taskendDate}}</td>
 
               
                   <td *ngIf="isAccessRole"> <span class="material-icons green-color" style="cursor: pointer;" (click)="edit(item.memberId)">edit </span></td>
                 </tr>

               <tbody>
             </table>
           </div>

         </div>

       </form>
     </div>
    <!-- Modal -->


    <div id="popup1" *ngIf="isPopup" class="overlay" style="visibility: visible;
    opacity: 1;">
      <div class="popup">
        <h2 style="background-color: #e3e3e9;height: 45px;">Edit Allocation  Details</h2>
        <button class="close" (click)="close()">&times;</button>

        <div class="content">
          <mat-card class="my-card">
            <mat-card-content>
              <form class="my-form" [formGroup]="editTaskForm" (ngSubmit)="onUpdate()">



                <mat-form-field class="full-width" style="margin-right: 5rem;
                           display: inline;">
                  <mat-label>Allocation Percentage</mat-label>
                  <input matInput type="text" placeholder="Allocation Percentage" name="allocationPercentage" formControlName="allocationPercentage" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['allocationPercentage'].errors }">
                  <div *ngIf="submitted && f['allocationPercentage'].errors" class="invalid-feedback">
                    <div *ngIf="f['allocationPercentage'].errors['required']">Allocation Percentage</div>
                  </div>
                </mat-form-field>
               

                <mat-card-actions>
                  <button mat-raised-button color="primary">Save</button>
                </mat-card-actions>
              </form>
            </mat-card-content>

          </mat-card>
        </div>
      </div>
    </div>
    <span style="color: red;
   margin: 3rem;
" *ngIf="message">{{message}}</span>


  </div>
